<p>
  Welcome to the official page for the Ministry of Pet Rocks (A subsidiary of Ministry for Business and Rock Development). This department is responsible for overseeing and registration of pet Rocks, Ores, and Quartz in Aotearoa. 
</p>