 
<div class="homeDescription">
<h1>Welcome to the official page for the Ministry of Pet Rocks!</h1>
<h2>(A subsidiary of Ministry for Business and Rock Development)</h2>
<h3> This department is responsible for overseeing and registration of pet Rocks, Ores, and Quartz in Aotearoa.</h3>
</div>