
<h1>Owner Details</h1>
<img src="" alt="">
<ul>
  {{#each owners}}
  <li><strong>Owner ID:</strong>{{this.id}}</li>
  <li><strong>Owner Name:</strong> {{this.name}}</li>
  <li><strong>Onwer Email:</strong> {{this.email}}</li>
  <li><strong>Owner Address:</strong> {{this.address}}</li>
  {{/each}}
</ul>