<div class="homeDescription">
<h1>Owner Registry List</h1>
<ul id="ownerNameList">
  {{#each owners}}
  <li><button><a id="ownerName" href="/owners/{{this.id}}">{{this.name}}</a></button></li>
  {{/each}}
</ul>
</div>