<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <title>Ministry of Pet Rocks</title>
</head>

<body>
  {{>header}}
  {{{body}}}
  {{>footer}}
</body>

</html>
