<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Unna&display=swap');
</style>
  <link rel="stylesheet" type="text/css" href="/main.css">

  <title>Ministry of Pet Rocks</title>
</head>

<body>
  {{>header}}
  {{{body}}}
  {{>footer}}
</body>

</html>
